@charset "UTF-8";

/* pt-sans-narrow-regular - latin_cyrillic */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-regular.svg#PTSansNarrow") format("svg");
  /* Legacy iOS */
}

/* pt-sans-narrow-700 - latin_cyrillic */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.woff") format("woff"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/pt-sans-narrow-v12-latin_cyrillic-700.svg#PTSansNarrow") format("svg");
  /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "PT Sans Narrow", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ptsn,
.title {
  font-family: PT Sans Narrow;
  letter-spacing: 1px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url("../img/footer_bg.png"), url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, center 72px;
  background-size: auto auto, 2560px 1716px;
  background-color: #000000;
}

.container {
  max-width: 992.98px;
  margin: 0 auto;
  width: 100%;
}

.modal {
  position: fixed;
  color: black;
  background-color: #f8f3f0;
  background-image: url("../img/white_bg-modal.png");
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal__close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  top: 10px;
  left: 2px;
}

.modal__close::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__close::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-login {
  display: none;
  width: 460px;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  padding: 50px 80px;
}

.modal-login__title {
  margin-bottom: 20px;
}

.modal-login__text {
  color: black;
  margin-bottom: 10px;
}

.modal-login__form input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  text-transform: uppercase;
}

.modal-login__item {
  margin-bottom: 10px;
}

.modal-login__item--help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-login__login-input {
  background-image: url(../img/svg/user.svg);
  background-position: 95% center;
  background-repeat: no-repeat;
}

.modal-login__password-input {
  background-image: url(../img/svg/lock.svg);
  background-position: 95% center;
  background-repeat: no-repeat;
}

.modal-login__checkbox {
  position: relative;
  padding-left: 30px;
  color: black;
  font-size: 14px;
}

.modal-login__checkbox input[type="checkbox"]:checked + .modal-login__indicator::before,
.modal-login__checkbox input[type="checkbox"]:checked + .modal-login__indicator::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  margin-left: -7.5px;
  margin-top: -1px;
}

.modal-login__checkbox input[type="checkbox"]:focus + .modal-login__indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.modal-login__checkbox input[type="checkbox"]:checked + .modal-login__indicator::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-login__checkbox input[type="checkbox"]:checked + .modal-login__indicator::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-login__indicator {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  margin-top: -8.5px;
}

.modal-login__restore {
  color: black;
  text-decoration: underline;
}

.modal-login__btn {
  width: 100%;
}

.modal-map {
  display: none;
  width: 790px;
  top: 50%;
  left: 50%;
  margin-left: -395px;
  margin-top: -280px;
  padding: 5px;
}

.modal-map img {
  width: 780px;
  height: 560px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-header {
  background-image: url("../img/menu_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto auto;
  overflow: visible;
  z-index: 50;
}

.page-header__icon {
  display: none;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.page-header__icon::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -16px;
  left: -10px;
  width: 50px;
  height: 48px;
  background-color: #050505;
  border-radius: 0 0 50% 50%;
}

.page-header__icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 8px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.page-header__icon span:first-child {
  top: 0px;
}

.page-header__icon span:last-child {
  top: auto;
  bottom: 0px;
}

.page-header__icon.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.page-header__icon.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 8px;
}

.page-header__icon.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 8px;
}

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 21px;
  margin-bottom: 90px;
}

.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__item {
  position: relative;
  -webkit-transition: all 0.5s ease 0.01s;
  -o-transition: all 0.5s ease 0.01s;
  transition: all 0.5s ease 0.01s;
}

.page-header__item:hover {
  padding-top: 1.5rem;
  padding-bottom: 1.6rem;
  background-color: #242424;
  color: white;
}

.page-header__item--icon_login {
  position: relative;
  text-align: center;
  padding-left: 40px;
}

.page-header__item--icon_login:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 20%;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: 100%/contain no-repeat url("../img/svg/login.svg");
  background-size: 16px 16px;
  background-position: 1px 2px;
}

.page-header__item--icon_login:hover:before {
  opacity: 1;
}

.page-header__link {
  font-family: PT Sans Narrow;
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
}

.page-header__logo {
  margin-bottom: 82px;
}

.page-header__img {
  display: block;
  max-width: 400px;
  margin: auto;
}

/* заготовка для бургера
.menu-header__icon{
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
        &:first-child{top: 0px;}
        &:last-child{top: auto;bottom: 0px;}
    }
    &.active{
        span{@include scale(0);
            &:first-child{@include rotate(-45deg);top: 8px;}
            &:last-child{@include rotate(45deg);bottom: 8px;}
        }
    }
    
}
*/

.footer {
  position: relative;
}

.footer__flex {
  height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials {
  margin-left: -50px;
}

.socials-footer {
  width: 141px;
  height: 78px;
}

.socials-footer__text {
  text-align: center;
  margin-bottom: 10px;
}

.socials-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 141px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials-footer__icons::after {
  content: "";
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.socials-footer__item {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  width: 43px;
  height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

.socials-footer__item:hover,
.socials-footer__item :focus {
  background-color: white;
}

.socials-footer__item:hover path,
.socials-footer__item :focus path {
  fill: black;
}

.developed-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 78px;
}

.developed-footer__text {
  text-align: center;
}

.visually-hidden {
  /* Убрать текст из потока */
  position: absolute;
  /* Уменьшить его высоту и ширину до одного пикселя */
  height: 1px;
  width: 1px;
  /* Скрыть выходящие за пределы контейнера элементы или текст */
  overflow: hidden;
  /* Установить для clip нулевое значение */
  clip: rect(0, 0, 0, 0);
  /* Текст не будет перенесён на вторую строку */
  white-space: nowrap;
  border: 0;
  padding: 0;
  margin: -1px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.greenbg {
  position: relative;
  overflow: hidden;
}

.greenbg:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 160%;
  left: -20%;
  top: -180px;
  background-image: -o-linear-gradient(252deg, #00970d 0%, rgba(0, 115, 151, 0) 100%);
  background-image: linear-gradient(198deg, #00970d 0%, rgba(0, 115, 151, 0) 100%);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 4;
}

p,
a,
time {
  font-family: PT Sans Narrow;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f7f4f1;
}

.btn {
  font-family: PT Sans Narrow;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  width: 140px;
  height: 44px;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  -webkit-transition: all 0.5s ease 0.01s;
  -o-transition: all 0.5s ease 0.01s;
  transition: all 0.5s ease 0.01s;
  background-color: #663d15;
}

input {
  padding-left: 5px;
  border: 2px solid #000101;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  width: 140px;
  height: 43px;
  opacity: 0.7;
}

input:focus {
  border-color: #663d15;
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 907px;
  margin: 0 auto 85px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__features::after {
  content: "";
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.main__features-item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.main__white-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  background-color: #fbf8f5;
  background-image: url("../img/whitebg_decor.png"), url("../img/white_background.png");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  background-size: auto auto, cover;
  max-height: 419px;
  margin-bottom: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 80px 50px 80px;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
}

.item-features__title {
  color: #f7f4f1;
  margin-bottom: 18px;
  text-align: center;
}

.item-features__rhomb {
  width: 24px;
  height: 24px;
  background-color: #f7f4f1;
  margin: 0 auto 32px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.item-features__text {
  text-align: center;
}

.news-main__title {
  margin-bottom: 20px;
}

.news-main__content {
  color: #000000;
}

.news-main__date {
  display: block;
  color: #000000;
  text-transform: unset;
  margin-bottom: 20px;
}

.news-main__btn {
  display: block;
}

.gallery-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  max-width: 300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-main__bg {
  background-color: white;
  padding: 7px;
}

.gallery-main__bg img {
  width: 286px;
  height: 164px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-main__btn {
  -ms-flex-item-align: end;
      align-self: end;
}

.contacts-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 350px;
}

.contacts-main__content {
  color: #000000;
}

.contacts-main__time {
  color: #000000;
  width: 100%;
}

.contacts-main__btn {
  -ms-flex-item-align: end;
      align-self: end;
  margin-bottom: 5px;
  margin-right: 20px;
}

.appointment-main {
  max-width: 300px;
}

.appointment-main__title {
  margin-bottom: 20px;
}

.appointment-main__text {
  color: #000000;
}

.appointment-main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appointment-main__item {
  margin-bottom: 10px;
  width: 140px;
  color: #000000;
}

.appointment-main__item label {
  padding-left: 15px;
  font-family: PT Sans Narrow;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.appointment-main__btn {
  width: 100%;
  margin-bottom: 5px;
}

.main-header {
  background-image: url("../img/menu_bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto auto;
  overflow: visible;
}

.main-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 21px;
}

.main-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
}

.main-header__item {
  -webkit-transition: all 0.5s ease 0.01s;
  -o-transition: all 0.5s ease 0.01s;
  transition: all 0.5s ease 0.01s;
}

.main-header__item:hover,
.main-header__item:active {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  background-color: #242424;
  color: white;
}

.main-header__item:focus {
  border-bottom: 4px solid white;
}

.main-header__item--icon_login {
  position: relative;
  text-align: center;
  padding-left: 40px;
}

.main-header__item--icon_login:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 20%;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: 100%/contain no-repeat url("../img/svg/login.svg");
  background-size: 16px 16px;
  background-position: 1px 2px;
}

.main-header__item--icon_login:hover:before {
  opacity: 1;
}

.main-header__item--logo:hover,
.main-header__item--logo:active {
  padding: 0;
  background-color: #000000;
}

.main-header__link {
  font-family: PT Sans Narrow;
  font-size: 16px;
  line-height: 20px;
  padding: 0 16px;
}

.main-header__link img {
  position: relative;
  width: 150px;
}

.price-list {
  padding-top: 56px;
  background-image: url(../img/price_list_bg.png);
}

.price-list__title {
  margin-bottom: 10px;
}

.price-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-list__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 -26px;
  margin-bottom: 73px;
}

.price-list__slogan::before,
.price-list__slogan::after {
  content: "";
  margin: 0 26px;
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  background-color: black;
}

.price-list__subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price-list__list {
  margin-bottom: 67px;
}

.price-list__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.price-list__item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: black;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 10px;
}

.price-list__text {
  color: black;
  max-width: 378px;
  margin-bottom: 82px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  width: 154px;
  margin-bottom: 50px;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #aba9a7;
}

.breadcrumbs__item a {
  color: black;
}

.breadcrumbs__decor {
  width: 10px;
  height: 10px;
  background-color: black;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.table-price {
  border-collapse: collapse;
}

.table-price__data {
  width: 231px;
  height: 43px;
  border: 3px solid #000101;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f9f6f3;
}

.table-price__data:nth-child(2n) {
  text-align: center;
}

.table-price__data:nth-last-child(2n) {
  padding-left: 19px;
}

.rub {
  display: inline-block;
  border-bottom: 1.5px solid;
  line-height: 5px;
  width: 4.5px;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 767.98px) {
  .page-header__item:focus::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 4px solid white;
    padding: 11px;
    width: 76%;
    left: 12%;
  }
}

@media (max-width: 1004.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }

  .page-header__menu {
    margin-bottom: 20px;
  }

  .main__white-bg {
    padding: 31px;
  }

  .main-header__link img {
    width: 138px;
    margin-left: -50px;
    margin-right: -20px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  .page-header {
    position: fixed;
    top: 140px;
    left: calc(50vw - 25px);
    width: 100%;
    height: 0;
  }

  .page-header__icon {
    display: block;
  }

  .page-header__icon.active {
    margin-top: -120px;
    margin-left: 40%;
  }

  .page-header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    background-color: #050505;
    z-index: 2;
    padding: 60px 10px 20px 10px;
    display: block;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .page-header__menu.active {
    left: 0;
  }

  .page-header__menu a {
    font-size: 25px;
  }

  .page-header__list {
    display: block;
  }

  .page-header__item {
    -webkit-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-bottom: 20px;
  }

  .page-header__item:hover,
  .page-header__item:active {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2b2020;
    color: white;
    padding-right: 0;
  }

  .page-header__login {
    position: absolute;
    top: 20px;
    left: 0;
  }

  .page-header__logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  header {
    margin-bottom: 200px;
  }

  .socials-footer {
    position: absolute;
    top: 10%;
    right: 10%;
  }

  .developed-footer {
    position: absolute;
    top: 55%;
    right: 10%;
  }

  .title {
    font-size: 25px;
    line-height: 33px;
  }

  .main__white-bg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 30px 4px 30px 4px;
    background-image: url("../img/white_background.png");
  }

  .news-main {
    min-width: 193px;
  }

  .news-main__date {
    margin-bottom: 10px;
  }

  .gallery-main {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }

  .gallery-main__bg img {
    min-height: 250px;
    max-width: 50vw;
  }

  .gallery-main__btn {
    margin-top: 10px;
    margin-right: 5px;
    width: 124px;
  }

  .appointment-main__title {
    margin-bottom: 10px;
  }

  .appointment-main__item {
    width: 100%;
  }

  .appointment-main__item input {
    width: 62%;
  }

  .main-header__link img {
    position: absolute;
    width: 300px;
    margin-left: -50px;
    margin-right: -20px;
  }
}

@media (max-width: 479.98px) {
  .page-header {
    top: 110px;
  }

  .page-header__icon.active {
    margin-top: -90px;
  }

  .page-header__img {
    max-width: 300px;
  }

  header {
    margin-bottom: 170px;
  }

  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__socials {
    margin: 0 auto;
  }

  .socials-footer {
    position: relative;
    top: 0;
    left: 0;
  }

  .developed-footer {
    position: relative;
    top: 0;
    left: 0;
  }

  .title {
    font-size: 40px;
    line-height: 46px;
  }

  .main__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .main__features-item {
    margin-bottom: 20px;
  }

  .main__white-bg {
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px 20px 30px 20px;
    margin-bottom: 20px;
  }

  .main__white-bg--first {
    min-height: 700px;
  }

  .main__white-bg--second {
    min-height: 860px;
  }

  .item-features {
    margin-bottom: 13px;
  }

  .news-main {
    margin-bottom: 20px;
  }

  .news-main__btn {
    width: 265px;
  }

  .gallery-main {
    max-width: 450px;
  }

  .gallery-main__title {
    margin-bottom: 20px;
  }

  .gallery-main__bg {
    background-color: #313131;
  }

  .gallery-main__bg img {
    min-height: 180px;
    min-width: 80vw;
  }

  .gallery-main__btn {
    margin-top: 10px;
    margin-right: 5px;
    width: 125px;
  }

  .contacts-main {
    margin-bottom: 20px;
  }

  .contacts-main__btn {
    margin-right: 5px;
    margin-top: 10px;
    width: 125px;
    margin-bottom: 0;
  }

  .appointment-main__item input {
    width: 100%;
  }
}

.webp .wrapper{ background-image: url(../img/footer_bg.webp), url(../img/background.webp); }

.webp .modal{ background-image: url(../img/white_bg-modal.webp); }

.webp .page-header{ background-image: url(../img/menu_bg.webp); }

.webp .main__white-bg{ background-image: url(../img/whitebg_decor.webp), url(../img/white_background.webp); }

.webp .main-header{ background-image: url(../img/menu_bg.webp); }

.webp .price-list{ background-image: url(../img/price_list_bg.webp); }

@media (max-width: 767.98px){

  .webp .main__white-bg{ background-image: url(../img/white_background.webp); }
}